
.custom-button-filtro {
    background-color: #537EC5;
    border: none;
    border-radius: 0.3rem;
    padding: 0.75rem 1.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.custom-button-filtro:hover {
    background-color: #BBE1FA;
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2),
                0 15px 50px rgba(0, 0, 0, 0.2);
}
