.custom-container {
    position: relative;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 0.2rem;
    padding: 2rem;
    width: 100%;
    margin: 10px auto;
    min-height: 80vh;
    justify-content: space-between;
    align-items: stretch;
}

.custom-container-mapa,
.custom-container-cards,
.custom-container-medidas,
.custom-container-filtro,
.custom-container-graficas {
    border: 1px solid #f9f9fc;
    background-color: #f9f9fc;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0;
    margin: 0;
}

.row.align-items-stretch.mb-4 {
    margin-bottom: 0 !important;
    /* Reducir espacio vertical entre las filas */
}

.h-100 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-gradient {
    background: linear-gradient(135deg, #57687c, #0C2840);
    color: #fff;
}


.logo-cis {
    width: 600px;
}

.footer-content {
    padding: 10px; /* Reduce el padding para disminuir el tamaño vertical */
  }
  
  footer {
    padding: 0; /* Elimina cualquier padding adicional en el footer */
    margin: 0;  /* Elimina cualquier margen adicional en el footer */
    height: auto; /* Ajusta la altura automáticamente al contenido */
  }

/* Responsivo */
@media (max-width: 768px) {
    .custom-container {
        padding: 1.5rem;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-item {
        margin-bottom: 10px;
    }

    .footer-item:last-child {
        margin-bottom: 0;
    }

    .logo-cis {
        width: 300px;
    }
}